name: Scheduled Jobs

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  test_schedule:
    runs-on: ubuntu-latest
    steps:
      - name: repository checkout
        uses: actions/checkout@v2
        with:
          repository: ${{ github.repository }}
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          path: TIL

      - name: Add date and push
        run: |
          cd TIL
          date >> date.txt
          current_date=date
          git add .
          git config --global user.email "edx2fire@liketiger.org"
          git config --global user.name "liketiger"
          git commit -m "chore : TIL log $current_date"
          git push origin main